<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Register</title>
  </head>
  <body>
    <form class="register" action="index.html" method="post"> {% csrf_token %}
      <div class="">User Name : <input type="text" name="username"></div>
      <div class="">First Name : <input type="text" name="first_name" ></div>
      <div class="">Last Name : <input type="text" name="last_name"></div>
      <div class="">Email : <input type="text" name="email"></div>
      <div class="">Password : <input type="password" name="password"></div>
      <div class="">Staff Admin : <input type="checkbox" name="staff"></div>
      <input type="submit" name="submit" value="Register">
    </form>
  </body>
</html>
